@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');

body {
    background-image: url(Images/UJ.jpg);
    background-repeat: no-repeat;
    background-size:1400px 700px;
}

div.image {
   content:url(Images/bulldog1.png);
   width: 300px;
   height: 300px;
    display: inline-flex;
    margin: auto 540px

}

.btn1 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family:'Bungee', cursive;
  cursor: pointer;
  display: inline;
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin:-365px -725px;
    
}

.btn2 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family:'Bungee', cursive;
  cursor: pointer;
  display: inline;
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -365px -400px;
}

.btn3 {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  text-align: center;
  color: white;
  font-family:'Bungee', cursive;
  cursor: pointer;
  display: inline;
  position: absolute;
  width: 300px;
  height: 100px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -365px -1050px;
}

.play:hover {
    background-color: blue;
    color: white;
    transform:rotate(-2deg);
}

.howtoplay {
    color: white;
}

.howtoplay:hover {
    background-color: blue;
    color: white;
    transform:rotate(-2deg);
}

.highscores {
    color: white;
}

.highscores:hover {
    background-color: blue;
    color: white;
    transform:rotate(-2deg);
}